################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Comply365.WebHooks.Sample/DesignTimeBuild
